"*":
  "atom-ide-ui":
    hideNuclideWarning: true
    use: {}
  core:
    customFileTypes:
      cpp: [
        "h"
      ]
      "source.json": [
        ".eslintrc"
      ]
      "text.tex.latex": [
        "cls"
      ]
    disabledPackages: [
      "background-tips"
      "feedback"
      "metrics"
      "welcome"
    ]
    projectHome: "/Users/thomasjo/Code"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "SFMono-Regular"
    fontSize: 11
    invisibles:
      tab: "⇥"
    scrollPastEnd: false
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "31389ec7-b10c-86d6-a4a9-1bb6d981c30d"
  "ide-cpp":
    clangdPath: "/usr/local/opt/llvm/bin/clangd"
  "ide-typescript":
    javascriptSupport: false
  latex:
    enableShellEscape: true
    engine: "xelatex"
    loggingLevel: "error"
    outputDirectory: ".output"
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    fontSize: 10
    tabSizing: "Maximum"
  "one-light-ui":
    fontSize: 10
    tabSizing: "Even"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".c.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 2
".coffee.source":
  editor:
    preferredLineLength: 100
".cpp.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 2
".cuda.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 2
".gfm.source":
  editor:
    softWrap: false
".git-config.source":
  editor:
    softTabs: false
    tabLength: 8
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.regexp.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".litcoffee.source":
  editor:
    preferredLineLength: 100
".python.regexp.source":
  editor:
    softWrapHangingIndent: 2
".python.source":
  editor:
    softWrapHangingIndent: 2
".tex.text":
  editor:
    softWrap: true
    tabLength: 2
