"*":
  "atom-ide-ui":
    use: {}
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.cpp": [
        "h"
      ]
      "source.json": [
        ".eslintrc"
      ]
      "text.tex.latex": [
        "cls"
      ]
    disabledPackages: [
      "background-tips"
      "feedback"
      "metrics"
      "welcome"
      "github"
      "language-python"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".ipy*"
      "node_modules"
    ]
    projectHome: "/Users/thomasjo/Code"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    useTreeSitterParsers: true
  editor:
    invisibles:
      tab: "⇥"
    scrollPastEnd: false
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "31389ec7-b10c-86d6-a4a9-1bb6d981c30d"
  "ide-cpp":
    clangdPath: "/usr/bin/clangd-6.0"
  latex:
    enableShellEscape: true
    engine: "xelatex"
    loggingLevel: "error"
    outputDirectory: ".output"
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    fontSize: 11
    tabSizing: "Maximum"
  "one-light-ui":
    fontSize: 11
    tabSizing: "Even"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".c.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 2
".cpp.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 2
".cuda.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 2
".gfm.source":
  editor:
    softWrap: false
".git-config.source":
  editor:
    softTabs: false
    tabLength: 2
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.regexp.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".python.regexp.source":
  editor:
    softWrapHangingIndent: 2
".python.source":
  editor:
    softWrapHangingIndent: 2
".tex.text":
  editor:
    softWrap: true
    tabLength: 2
