"*":
  core:
    disabledPackages: [
      "background-tips"
      "feedback"
      "metrics"
      "package-generator"
      "welcome"
    ]
    projectHome: "/Users/thomasjo/Code"
  editor:
    fontFamily: "Menlo"
    lineHeight: 1.6
    showInvisibles: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    scrollPastEnd: true
    useShadowDOM: true
    softWrapHangingIndent: 2
    fontSize: 11
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  latex:
    outputDirectory: "output"
    enableShellEscape: true
    useNotificationsLogger: true
  "fuzzy-finder": {}
  "markdown-preview":
    useGitHubStyle: true
  "exception-reporting":
    userId: "31389ec7-b10c-86d6-a4a9-1bb6d981c30d"
".c.source":
  editor:
    tabLength: 2
".tex.text":
  editor:
    softWrap: true
    softWrapHangingIndent: 4
    tabLength: 4
".git-config.source":
  editor:
    softTabs: false
    tabLength: 8
".python.source":
  editor:
    showIndentGuide: false
".coffee.source":
  editor:
    preferredLineLength: 100
".cpp.source":
  editor:
    tabLength: 2
