@import "syntax-variables";

/* ----------
 *  thomasjo
 * ---------- */

.editor {
  .indent-guide {
    box-shadow: inset 1px 0 fade(@syntax-indent-guide-color, 33%);
  }

  .invisible-character {
    color: fade(@syntax-indent-guide-color, 70%);
  }

  .gutter {
    .line-number {
      min-width: 4.5em;
      opacity: 0.2;
    }
  }
}
